@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900");

/* Body */
html,
body {
    width: 100%;
    height: 100%;
}

body {
    /* font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; */
		font-family: 'Lato', sans-serif;
    font-size: 15pt;
		font-weight: 300;
		/* letter-spacing: 0.025em; */
		line-height: 1.75em;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 1.66em;
    font-weight: 300;
}

/* Header */
.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 50px 0;
}

h2{
    font-weight: 300;
    font-size: 1.1em
}

h3{
    font-weight: 300;
    font-size: 1.2em
}

h4{
    font-weight: 300;
    color: inherit;
    font-size: 1.0em
}

header, h5, h6{
    color: white;
    /* color: inherit; */
    font-weight: 300;
    /* line-height: 1.75em; */
    margin-top: 1em;
    margin-bottom: 1em;
}

header .fa, .projects .fa-angle-double-up {
    color: rgb(215,215,215);
}

header .fa:hover, .projects .fa-angle-double-up:hover {
    color: rgb(130,130,130);
}

.paddingBetweenRows td
{
    padding:0 15px 0 15px;
    text-align: left;
    font-weight: bolder;
}

/* Summary */
.summary {
    background-color: white;
    padding: 50px 0;
}

.summary_dark{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px 0;
}

.summary p {
    font-size: 19px;
    font-weight: 300;
}

/* Work */
.work p {
    font-size: 19px;
    font-weight: 300;
}

.work{
    background-color: rgb(56,56,56);
    padding: 50px 0;
    color: white;
}

/* Projects */
.projects p {
    font-size: 19px;
    font-weight: 300;
}

.projects {
    background-color: rgb(56,56,56);
    /*padding: 50px 0;*/
    padding: 0px 0;
    color: white;
}

/* Resume */
#resume p {
    font-size: 50px;
    color: white;
}

#resume {
    background-color: rgb(77,77,79);
}

#resume .fa {
    color: rgb(130,130,130);
}

#resume .fa:hover {
    color: white;
}

/* Footer */
footer {
    background-color: white;
    padding: 50px 0;
}

/* General Style */
img {
    background-color: #fff;
    padding: 5px;
}

.htmllogo {
    background-color: rgb(36, 36, 36);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* Custom Button Styles */
.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */
hr.small {
    max-width: 100px;
}

/* Side Menu*/
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    transform: translateX(250px);
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 22px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#menu-close {
    border-radius: 5px;
    background-color: rgb(34,34,34);
    color: white;
    border-style: solid;
    border-color: white;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

/*Top Navigation bar. Based on https://www.w3schools.com/howto/howto_js_topnav.asp */
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 9999;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #347AB7;
  color: white;
}

.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

/*(Invisible) Anchor to navigate to (https://stackoverflow.com/questions/13555709/how-do-i-offset-where-my-fixed-nav-bar-takes-me) */
.anchor {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    top: -60px;
    left: 0;
    visibility: hidden;
}


.toggle {
    margin: 5px 5px 0 0;
}

/* Blur Effect */
.image {
   background: url('../img/background-blur.jpg') no-repeat center center;
}

.blurimage {
   background: #1F1F1F url('../img/background.jpg') no-repeat center center;
}

.blurImg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -9999;
    top: 0;
    left: 0;
}
.blurImg > div {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.blur {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

/* Transition Effect */
.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

/* Scroll Button */
.page-scroll {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border-radius: 100% !important;
  font-size: 40px;
  background: transparent;
}

/* Full Width Image */
#workimage {
    background: #1F1F1F url(../img/LaSilla.png) no-repeat center center;
}

#projectimage {
    background: #1F1F1F url(../img/code.png) no-repeat center center;
    /*background: #1F1F1F url(../img/code_chris-ried_unsplash.jpg) no-repeat center center;*/
}

#workimage, #projectimage {
   background-size: cover !important;
   -webkit-background-size: cover !important;
   background-attachment: fixed;
   position: relative;
   width: 100%;
   overflow: hidden;
}

#workimage .text-container, #projectimage .text-container, #resume .text-container {
   padding-top: 60px;
   padding-bottom: 60px;
}

#workimage p, #projectimage p, #workimage .fa, #projectimage .fa {
    font-size: 50px;
    color: white;
}

/* Back to top */
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 5px;
    right: 5px;
    display:none;
    text-decoration: none;
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.back-to-top:hover {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

/* Spotlight */

	.spotlight {
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
        /*padding: 0px 50px;*/
        padding: 0px 50px 20px 20px;
	}

		.spotlight .image {
			-moz-order: 2;
			-webkit-order: 2;
			-ms-order: 2;
			order: 2;
			border-radius: 0;
			width: 40%;
		}

			.spotlight .image img {
				border-radius: 0;
				width: 100%;
			}

		.spotlight .content {
			padding: 2em 4em 0.1em 4em ;
			-moz-order: 1;
			-webkit-order: 1;
			-ms-order: 1;
			order: 1;
			max-width: 48em;
			width: 60%;
		}

		.spotlight:nth-child(2n) {
			-moz-flex-direction: row-reverse;
			-webkit-flex-direction: row-reverse;
			-ms-flex-direction: row-reverse;
			flex-direction: row-reverse;
		}

		.spotlight:nth-child(1) {
			background-color: rgba(0, 0, 0, 0.075);
		}

		.spotlight:nth-child(2) {
			background-color: rgba(0, 0, 0, 0.15);
		}

		.spotlight:nth-child(3) {
			background-color: rgba(0, 0, 0, 0.225);
		}

		.spotlight:nth-child(4) {
			background-color: rgba(0, 0, 0, 0.3);
		}

		.spotlight:nth-child(5) {
			background-color: rgba(0, 0, 0, 0.375);
		}

		.spotlight:nth-child(6) {
			background-color: rgba(0, 0, 0, 0.45);
		}

		.spotlight:nth-child(7) {
			background-color: rgba(0, 0, 0, 0.525);
		}

		.spotlight:nth-child(8) {
			background-color: rgba(0, 0, 0, 0.6);
		}

		.spotlight:nth-child(9) {
			background-color: rgba(0, 0, 0, 0.675);
		}

		.spotlight:nth-child(10) {
			background-color: rgba(0, 0, 0, 0.75);
		}

		@media screen and (max-width: 1280px) {

			.spotlight .image {
				width: 45%;
			}

			.spotlight .content {
				width: 55%;
			}

		}

		@media screen and (max-width: 980px) {

			.spotlight {
				display: block;
			}

				.spotlight br {
					display: none;
				}

				.spotlight .image {
					width: 100%;
				}

				.spotlight .content {
					padding: 4em 3em 2em 3em ;
					max-width: none;
					text-align: center;
					width: 100%;
				}

		}

		@media screen and (max-width: 736px) {

			.spotlight .content {
				padding: 3em 2em 1em 2em ;
			}

		}

.content-after-topnav{
    margin-top: 63px;
    padding: 21px 10%;
}

.media-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media-container img {
    max-width: 48%;
}

.video-container {
    max-width: 48%;
}

.video-container h8 {
    text-align: center;
    color: #333; /* Dark color */
}